/* Logo 字体 */
@font-face {
  font-family: 'iconfont';  /* Project id 2980334 */
  src: url('//at.alicdn.com/t/font_2980334_c05mmd1zbdi.woff2?t=1638521562961') format('woff2'),
       url('//at.alicdn.com/t/font_2980334_c05mmd1zbdi.woff?t=1638521562961') format('woff'),
       url('//at.alicdn.com/t/font_2980334_c05mmd1zbdi.ttf?t=1638521562961') format('truetype');
}
  
  .iconfont {
    font-family: "iconfont" !important;
    font-size: .16rem;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  